<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 40%;
    margin: 2%;
  }
  </style>
</head>
<body>

<div class="container">
    <script>
        function getnewsdata() {
         // alert("inside imagegallery")
            var oReq = new XMLHttpRequest();
            oReq.open("GET", "/common/latestnews/");
           // alert("got the news")
            oReq.send();
            //alert("seindi")
            oReq.onload = function() {
              //alert("inside onload")
                json = JSON.parse(oReq.responseText); //return is a json array with 3 objects
                console.log(json[0].urlToImage);
                //alert("got the image")
                if(json[0].urlToImage){
                    document.getElementById('first-slide').innerHTML =`
                    <a href=${json[0].url} target="_blank" > 
                    <img src=${json[0].urlToImage} class="d-block w-100" alt="${json[0].title}" />
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <h3><b>${json[0].title}</b></h3>
                    </div>`
                }
                if(json[1].urlToImage){
                    document.getElementById('second-slide').innerHTML= `
                    <a href=${json[1].url} target="_blank" > 
                    <img src="${json[1].urlToImage}" class="d-block w-100" alt="${json[1].title}"/>
                     </a>
                    <div class="carousel-caption d-none d-md-block">
                    <h3><b>${json[1].title}</b></h3>
                    </div>`
                }

                if(json[2].urlToImage){
                    document.getElementById('third-slide').innerHTML= `
                    <a href=${json[2].url} target="_blank" > 
                    <img src="${json[2].urlToImage}" class="d-block w-100" alt="${json[2].title}"/>
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                    <h3><b>${json[2].title}</b></h3>
                    </div>`
                }
            };
        }
        getnewsdata();
    </script>
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active" id="first-slide">
        <!-- <img id='first-slide' alt="Testing" width="460" height="345"> -->
        <!-- <div class="carousel-caption">
          <h3>Testing</h3>
          <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
        </div> -->
      </div>

      <div class="item" id="second-slide"></div>
      <div class="item" id="third-slide"></div>

      
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>
